# DABs
.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
terraform

# dbt
target/
dbt_packages/
dbt_modules/
logs/

# general
.env
.archivedocs/dbt-docs/index.html

docs/dbt-docs/index.html
docs/dbt-docs/manifest.json
docs/dbt-docs/partial_parse.msgpack
.archive/
